#root {
	display: flex;
	flex-direction: column;
	flex: 1;
	overflow: hidden;
	padding-bottom: env(safe-area-inset-bottom);
	padding-top: env(safe-area-inset-top);
}

#content {
	height: 100%;
	overflow: hidden;

	#top {
		padding: 24px;
		display: flex;
		flex-direction: row;
		gap: 24px;
		height: 100%;

		> .ant-splitter > .ant-splitter-panel {
			display: flex;
		}
	}

	#bottom {
		overflow: auto;
		height: 100%;
		display: flex;
	}
}

.mobile {
	#content {
		> section {
			&:first-child {
				flex: 3;
			}

			&:last-child {
				flex: 2;
			}
			overflow: hidden;

			&#top > div {
				overflow: hidden;
			}
		}
	}
}
